.MenuFrame {
    display: grid;
    grid-template-rows: 50vh 50vh;
    grid-template-columns: 18vw 18vw 18vw 18vw 18vw;
    gap: 0;
    width: 90vw;
    height: 100vh;
}

.MenuButton {
    position: relative;
    z-index: 150;
}