.Welcome {
    display: grid;
    grid-template-rows: 50vh 50vh 50vh;
    grid-template-columns: repeat(2, 1fr);
    gap: 0;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vw;
    position: relative;
    z-index: 150;
    margin: 0;
    padding: 0;
}

@keyframes nameFloat {
    0% {
        transform: translateY(0vh);
        opacity: 1;
    }
    50% {
        transform: translateY(8px);
        opacity: 0.5;
    }
    100% {
        transform: translateY(0vh);
        opacity: 1;
    }
}

.Name {
    position: relative;
    grid-column-start: 1;
    grid-row-start: 1;
    grid-column: span 1;
    grid-row: span 1;
    text-align: center;
}

.Name > svg {
    width: 90%;
    height: 90%;
    animation: nameFloat 2s linear infinite;
}

@keyframes nameAppear {
    0% {
        stroke-dashoffset: 100vw;
    }
    90% {
        fill: transparent;
    }
    100% {
        fill: white;
        stroke-dashoffset: 0;
    }
}

.Name > svg path {
    fill: transparent;
    stroke: white;
    stroke-width: 1px;
    stroke-dasharray: 100vw;
    stroke-dashoffset: 100vw;
    animation: nameAppear 6s ease-in-out forwards;
    animation-delay: 1s;
}

.Introduction {
    grid-column: span 1;
    grid-row: span 1;
    height: 80%;
    width: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: top;
}

.Introduction p {
    font-family: Georgia, 'Times New Roman', Times, serif;
    padding: 20px;
    line-height: 1.5rem;
    font-weight: normal;
    color: rgb(0, 0, 0);
    font-style: italic;
    border: 5px solid #64240e;
    background-color: blanchedalmond;
}

.EmptyWelcomeGridItem {
    grid-column: span 1;
    grid-row: span 1;
}

@media (max-width: 768px) {
    .Name, .Introduction {
        grid-column: span 2;
    }

    .EmptyWelcomeGridItem {
        display: none;
        grid-column: span 0;
        grid-row: span 0;
    }
}