/*-------------------------*/
/* GENERAL WELCOME SECTION */
/*-------------------------*/

.Welcome {
    display: grid;
    grid-template-rows: 50vh 50vh;
    grid-template-columns: 18vw 18vw 18vw 18vw 18vw;
    gap: 0;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 90vw;
    position: relative;
    z-index: 150;
    margin: 0;
    padding: 0;
}

/*------*/
/* NAME */
/*------*/

@keyframes nameFloat {
    0% {
        transform: translateY(0vh);
        opacity: 1;
    }
    50% {
        transform: translateY(8px);
        opacity: 0.5;
    }
    100% {
        transform: translateY(0vh);
        opacity: 1;
    }
}

.Name {
    position: relative;
    grid-column-start: 1;
    grid-row-start: 1;
    grid-column: span 2;
    grid-row: span 1;
    text-align: center;
    width: 100%;
    height: 100%;
}

.Name > svg {
    width: 90%;
    height: 90%;
    animation: nameFloat 2s linear infinite;
}

@keyframes nameAppear {
    0% {
        stroke-dashoffset: 100vw;
    }
    90% {
        fill: transparent;
    }
    100% {
        fill: rgb(255, 255, 255);
        stroke-dashoffset: 0;
    }
}

.Name > svg path {
    fill: transparent;
    stroke: white;
    stroke-width: 1px;
    stroke-dasharray: 100vw;
    stroke-dashoffset: 100vw;
    animation: nameAppear 6s ease-in-out forwards;
    animation-delay: 1s;
}

/*----------------------*/
/* INTRODUCTION SECTION */
/*----------------------*/

@keyframes introductionTextAppear {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

.Introduction {
    position: relative;
    grid-column-start: 1;
    grid-row-start: 2;
    grid-column: span 2;
    grid-row: span 1;
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    justify-self: center;
    align-self: flex-start;
    margin: 0 3vw;
}

.Introduction p {
    opacity: 0;
    font-family: Georgia, 'Times New Roman', Times, serif;
    margin: 3vh 5vw;
    line-height: 2rem;
    font-weight: normal;
    font-size: 1.2rem;
    color: white;
    background-color: rgba(0, 0, 0, 0.7);
    border-radius: 20px;
    padding: 20px 5vw;
    animation: introductionTextAppear 1s ease-in-out forwards;
    animation-delay: 6s;
    font-style: italic;
    z-index: 400;
}

.EmptyWelcomeGridItem {
    grid-column: span 3;
    grid-row: span 1;
}

@media (max-width: 768px) {
    .Name, .Introduction {
        grid-column: span 5;
    }

    .EmptyWelcomeGridItem {
        grid-column: span 0;
        display: none;
    }
}

/* MOVING OUT ANIMATION */
@keyframes moveOut {
    from {
        transform: none;
        opacity: 1;
    }
    to {
        transform: translateX(-50vw) translateY(100vh);
        opacity: 0;
    }
}

.Welcome {
    animation: moveOut linear;
    animation-timeline: scroll(block nearest);
}