.Welcome {
    display: grid;
    grid-template-rows: 50vh 50vh 50vh;
    grid-template-columns: repeat(2, 1fr);
    gap: 0;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vw;
    position: relative;
    z-index: 150;
    margin: 0;
    padding: 0;
}

.Name {
    position: relative;
    grid-column-start: 1;
    grid-row-start: 1;
    grid-column: span 1;
    grid-row: span 1;
    text-align: center;
}

@media (max-width: 768px) {
    .Name {
        grid-column: span 2;
    }
}

.Name > svg {
    width: 80%;
}