.Welcome {
    font-family: Georgia, serif;
    font-style: normal;
    height: fit-content;
    width: fit-content;
    position: relative;
    z-index: 1000;
    margin: 0;
    padding: 0;
    color: white;
}