.App {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: 'Segoe Script', 'Papyrus', Georgia, 'Times New Roman', Times, serif;
}

.App > p {
    display: none;
}

/* RESPONSIVENESS HANDLING */

@media (max-width: 200px) {
    .App > p {
        display: block;
        font-size: 8vw;
        color: white;
        z-index: 500;
        padding: 5vw;
        text-align: center;
    }

    .App > div {
        display: none;
    }
}